<h1>ようこそ、Comic Impreへ！</h1>

  <h3>Comic Impreとは？</h3>
    <h6>「この漫画面白かった！誰かに感想を言いたい！」<br>
        「面白い漫画が読みたいな、誰かオススメの漫画を知らないかな？」<br>
        と思ったことはありませんか？<br>
        Comic Impreではあなたが読んだ漫画の感想を気軽に投稿したり、<br>
        誰かが投稿した漫画の感想を自由に見ることもできます。<br>
        会員登録なしでも、誰かのオススメの漫画紹介は「みんなの投稿一覧」から<br>
        誰でも見ることができます。是非一度ご覧ください！</h6>

        <%= link_to "みんなのオススメ一覧へ", public_comics_path %>
