<div class="container mt-5">
  <div class="row">
    <div class="col-md-2">
      <%= render 'admin/customers/customer', customer: @customer %>
    </div>

    <div class="col">

      <% if @customer.comics.exists? %>

        <h3><%= @customer.name %>の投稿一覧</h3>

          <%= render 'admin/comics/comic', comics: @comics %>

      <% else %>
        <p>まだこのユーザーは投稿していません</p>
      <% end %>

        <%= link_to "戻る", admin_customer_path(@customer) %>

    </div>
  </div>
</div>