<div class="container mt-3 mb-5">

  <div class="row mt-2">

    <div class="col-md-2 text-center">
      <%= render 'public/customers/customer', customer: @comic.customer %>
      <%= link_to "投稿詳細へ戻る", comic_path(@comic), class:"btn btn-warning btn-bg" %>
    </div>

    <div class="col ml-4">

      <h3 class="p-1 bg-info text-light text-center">
        <strong><%= @comic.title %> へのコメント一覧</strong>
      </h3>

        <% if @comic.comic_comments.exists? %>

          <div class="comment">
            <%= render 'public/comic_comments/comment', comic: @comic %>
          </div>

        <% else %>

          <div class="text-center mt-5">
            <h5>コメントはありません</h5>
          </div>

        <% end %>

    </div>

  </div>

</div>